# IDE
.idea/
.vscode/

# Environment
**/.env

# Java
**/target/

# Node
**/node_modules/
**/dist/

# Python
**/__pycache__/
*.py[cod]

# Logs
*.log

# Database Dumps
*.sql

# Uploads
**/uploads/

# Generated AI Files
**/memory.json
**/rag/vector_store.pkl

# OS
.DS_Store
Thumbs.db